<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<nav>
  <h1>My Project</h1>
  <ul>
      <li><a href="{{ url_for('auth.names') }}">Names</a>
      <li><a href="{{ url_for('auth.tracks') }}">Tracks</a>
      <li><a href="{{ url_for('auth.tracks_sec') }}">Tracks sec</a>
      <li><a href="{{ url_for('auth.statistics') }}">Statistics</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
